body {
    background:#f3f3f3;
}
.nav-button{
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

.nav-button active {
    background: rgb(119, 39, 39);
    border-color: rgb(121, 25, 25);
    color: #333;
}

.main-text {
    color: #333;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

.sub-text {
    color: rgb(112, 110, 110);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}